header {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.21);
}
.emojdetail {
  border: 2px solid #dfe9f7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.emojdetail,
.random-face span {
  transition: all 0.2s ease-in-out;
}

#random-face > span{
  display: inline-block;
  animation-name: rotated;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-iteration-count: infinite;
}
@keyframes rotated{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

.emojdetail,
.latestemojiss,
footer,
h2,
h3 {
  text-align: center;
}
::-webkit-scrollbar-thumb {
  background: rgb(178,56,79);
}
::-webkit-scrollbar-track {
  background: #f9f9f9;
}
::-webkit-scrollbar {
  width: 2px;
}
*,
body,
html {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  background: #dfe9f7;
  font-family: arial, sans-serif;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 0 !important;
}
a {
  text-decoration: none;
}
.site-title a,
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
nav {
  background: linear-gradient( 
45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
}
nav a {
  display: inline-block;
  padding: 10px 15px;
  color: #4a94c9;
  font-size: 13px;
}
nav a:hover {
  background: #033c82;
}
.site-branding-text {
  background: linear-gradient( 
45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
  padding: 10px;
  color: #fff;
  text-align: center;
}
.bookmarkus {
  padding-bottom: 3px;
  display: block;
  color: #fff;
  opacity: 0.7;
}
p.site-title {
  margin: 0;
  font-weight: 700;
}
p.site-description {
  color: #2e92cf;
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 14px;
}
.site-title a {
  color: #fff;
  padding-top: 10px;
  font-size: 35px;
  opacity: 0.9;
}
.main-heading {
  font-weight: 300;
  line-height: 1.6;
}

.emojdetail {
  position: relative;
  display: inline-block;
  margin: 3px;
  background: #fff;
}
.emojdetail p {
  font-size: 8px;
  padding: 2px;
  width: 100%;
  margin: 0;
  bottom: 0;
  background:rgb(52,123,211);
  color: white;
  text-transform: uppercase;
}





.emojdetail span {
  display: block;
  padding: 5px 22px 4px 22px;
  overflow: hidden;
  font-size: 40px;
  background: #fff;
}

.emojdetail:hover {
  box-shadow: 1px 1px 6px  rgb(32, 32, 32);
}
.tabs a:hover {
  background: rgb(230,226,212);
  color: black;
}
.emojdetail:hover p {
  display: block;
}
.tabs {
  text-align: center;
  margin-top: 10px;
}
.tabs a {
  background: #fff;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  /* border-radius: 5px; */
  font-size: 13px;
  color: #074ba0;
  cursor: pointer;
  justify-content: center;
  padding: 5px 13px;
  text-align: center;
  white-space: nowrap;
  border: 2px solid #074ba0;
}
footer {
 background: linear-gradient( 45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
  padding: 10px 0;
}
h1.entry-title {
  font-size: 40px;
  margin: 5px;
  color: #fff;
}
footer h2 {
  color: #fff;
}
footer p {
  color: #444;
  font-weight: 400;
  font-size: 16px;
  padding: 0 2%;
  line-height: 1.5;
}
.copied {
  color: #fff;
  font-size: 18px;
  position: fixed;
  padding: 8px 25px;
  background: #00ab4b;
  top: 80%;
  right: 45%;
  margin: 0px auto;
  display: none;
  opacity:0;
  border-radius: 3px 0 0 3px;
  z-index: 99999999999999999999999999;
}
.elementToFadeInAndOut {
  animation: fadeInOut;
  animation-duration:  0.8s;
}

@keyframes fadeInOut{
0% { 
  opacity:0;
      transform: translateX(0px);
}
100% { 
  opacity:1;
  transform: translateX(15px);
 } 


}
p.other-platform img {
  height: 90px;
}
.recent {
  width: 100%;
  clear: both;
  float: left;
  margin: 10px 0;
}

.input {
  width: 90%;
  float: left;
  position: relative;
}
.input  input {
  width: 100%;
  outline: 0;
  height: 40px;
  text-align: center;
  border: none;
  padding: 9.5px;
  border: 0;
  font-size: 25px;
  display: block;
  border-radius: 3px 0 0 3px;
  background: #ffff;
  -webkit-box-shadow: inset 1px 1px 3px rgba(200, 200, 200, 0.7);
  box-shadow: inset 1px 1px 3px rgba(200, 200, 200, 0.7);
}
.input span {
  width: 40px;
  float: left;
  position: absolute;
  top: 0;
  display: block;
  right: 0;
  text-align: center;
  height: 40px;
  font-size: 18px;
  padding: 8px;
  color: #bd1c1c;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.input span:hover {
  color: #a20d0d;
}
.share {
  float: left;
  width: 10%;
  text-align: center;
  position: relative;
}
.copy {
  color: #fff;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  background: #00ab4c;
  font-size: 13px;
  height: 40px;
  float: right;
  border-radius: 0;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  z-index: 9999;
  border-radius: 0 4px 4px 0;
}
.copy:hover,
.copy:active {
  background: #019442;
}
@media only screen and (max-width: 970px) {
  .container {
    max-width: 100%;
  }
  
  .copy {
    height: 45px;
    border-radius: 0;
  }
  .input input {
    border-radius: 0;
  }
  .site-title a {
    padding-top: 10px;
    font-size: 32px;
  }
  .latestemojiss .emojdetail {
    font-size: 30px;
    padding: 2px 10px 0;
  }
  #latestfaces {
    margin-bottom: 0;
  }
  .recent {
    width: 100%;
    clear: both;
    float: none;
    margin-bottom: 0;
    position: fixed;
    bottom: 1px;
    background: #fffffff2;
    z-index: 999999999999999999999999999;
  }
  .input {
    width: 78%;
    height: 60px;
    z-index: 10222222222222;
    position: relative;
  }
  .share {
    width: 22%;
    height:60px;
    z-index: 10;
    position: relative;
  }
  .latestemojiss {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
  }
  p.site-description {
    font-size: 13px;
  }
  h1.entry-title {
    font-size: 38px;
  }
  footer,
  h2 {
    font-size: 25px;
  }
  footer {
    padding-bottom: 75px;
  }
  nav a {
    padding: 8px 10px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .site-title a {
    font-size: 22px;
    padding-top: 0;
    height: 25px;
    overflow: hidden;
  }
  p.site-description {
    color: #2e92cf;
    font-size: 7px;
    margin-top: 0;
    margin-bottom: 2px;
  }
  .container {
    padding: 0;
  }
  .main-heading {
    font-size: 16px;
  }
  .emojdetail {
    margin: 2px 0;
  }
  .latestemojiss .emojdetail span {
    font-size: 30px;
  }
  .latestemojiss .emojdetail p {
    display: none;
  }
  h1.entry-title {
    font-size: 25px;
  }
  h2 {
    font-size: 15px;
  }
  footer p {
    font-size: 12px;
  }
  .tabs a {
    font-size: 14px;
    padding: 5px 8px;
  }
  .bookmarkus {
    font-size: 10px;
  }
  ol {
    font-size: 10px;
  }
}
